.notfound-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.notfound-content {
    text-align: center;
    max-width: 600px;
}

.oops-text {
    font-size: 180px;
    font-weight: 900;
    margin: 0;

    background: url("../assets/galaxy.avif");
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.notfound-code {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}

.notfound-text {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
}

.notfound-btn {
    margin-top: 20px;
    padding: 12px 28px;
    border: none;
    border-radius: 25px;
    background: #1e5eff;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.notfound-btn:hover {
    background: #1746cc;
    transform: translateY(-2px);
}
